* {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;;
    padding: 0;
    margin: 0;
    font-size: 30px;
    box-sizing: border-box;
}
body {
    background: #272727;
    color: #fff;
    @media screen {
        background:#fff;
        color:black;
    }
}

.wrapper {
    margin: 0 outo;
    max-width: 100%;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #747474;
    width: 100%;
    background-image: linear-gradient(to right, #100d0d, #850303);
    -webkit-text-stroke: 1px #ff00d4;
}
.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background:#fff;
    color:  #272727;
    width: 100%;
    padding: 20px;
}
.add-task input{
    border: 0;
    border-bottom: 1px solid #272727;
    outline: none;
    transition: border 150ms ease-in-out;
    
}
.add-task input::placeholder {
    opacity: 1;
    transform: opacity 150ms ease-in-out;
    

}
.add-task input:focus {
    border-bottom-width: 2px;
    
}
.add-task input:focus::placeholder {
    opacity: 0.4;
    position: relative;
    left: 3px;
    transform: scale(1);
    transition: all 2s;
}
.add-btn {
    border: 0;
    background: 0;
    color: #272727;
    cursor: pointer;
    outline: none;
    transition: color 150ms ease-in-out;
}
.add-btn:hover {
    color: #747474;
}
.add-btn:active {
    color: #ff652f;
    
}
.task-header {
    position: relative;
    width: 100%;
}
.task-header h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    background: #747474;
    background-image: linear-gradient(to right, #d89c9c, #747474);;
    color: #fff;
    width: 100%;
    text-decoration:underline;
    -webkit-text-stroke:1px #514585;
}
.remove-btn {
    position: absolute;
    right: 18vw;
    top: 16px;
    border: 0;
    background: 0;
    color: #fff;
    font-size: 0.5rem;
    cursor: pointer;
    transition: color 150ms ease-in-out; 
    outline: none;
}
.remove-btn:hover {
    color: #272727;
    transform: scale(1.4);
    transition: all 1s;
}
.remove-btn:active {
    color:  #ff652f;
}
.task-list-wrapper {
    background: #fff;
    color: #272727;
    width: 100%;
    padding: 25px;
}
.task-list {
    padding: 15px 25px 25px 25px;
}
.task-list li {
    list-style: none;
    cursor: pointer;
    padding:10px 0;
    border-bottom: 1px solid #747474 ;
}
.task-list li:hover .custom-check-box {
    transform: scale(1.2);
    color: #747474;
}
.task-list li:active .custom-check-box {
    transform: scale(1);
    color: #ff652f;
}

[type="checkbox"]:checked + label .custom-check-box {
    transform: scale(1);
    color: #ff652f;
    opacity: 0.6;
}
[type="checkbox"]:checked + label .check-mark,
[type="checkbox"]:checked + label {
    opacity: 0.6;
}
.task-list input {
    position: absolute;
    opacity: 0;
}
.task-list label {
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.task-list label:hover {
    color: #747474;
}
.custom-check-box {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.5em;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;     
}
.check-mark {
    position: absolute;
    bottom: 5px;
    left: 17px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    z-index: 1;
}
.test-css__autocomplete {
    color: blue;
}

/* Mobile View */
@media only screen and (min-width: 375px) {
    .add-task {
        display: flex;
        justify-content: left;
        padding: 2px;
        width: 100%;
    }
    .add-btn {
        padding-right: 100px;

    }
}
/* Tablet View */
@media only screen and (min-width: 768px) {
    .add-task {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;
    }
    .remove-btn {
        right: 25vw;
    }
    .header {
        width: 100%;
        
    }
    
}
/* Desktop/laptop View */
@media only screen and (min-width: 1024px) {
    .remove-btn {
        right: 12vw;
    }
    .add-task {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }
}



